body {
    font-family:Arial, Helvetica, sans-serif ;
}

.loading {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #1c2534;
	z-index: 100;
}

.load_box {
	display: flex;
	position: relative;
	top: 50%;
	left: 50%;
	width: 150px;
	height: 100px;
	align-items: flex-end;
	justify-content: space-between;

}

.element {
	display: flex;
	background-color: rgb(224, 124, 65);
	border-radius: 100%;
	width: 20px;
	height: 20px;
	transition: all;
	animation: element_move 1s ease infinite;
	animation-delay: 0.2s;
}

@keyframes element_move {
	0% {
		transform: translateY(0) scale(0.5);
	}

	50% {
		transform: translateY(-50px) scale(1.3);
	}

	100% {
		transform: translateY(0) scale(0.5);
	}
}

.load_box div:nth-child(2) {
	animation-delay: 0.4s;
}

.load_box div:nth-child(3) {
	animation-delay: 0.6s;
}

.load_box div:nth-child(4) {
	animation-delay: 0.8s;
}

.load_box div:nth-child(5) {
	animation-delay: 1s;
}

.loaded_hiding .loading {
    transition: 0.3s opacity;
    opacity: 0;
  }

.loaded .loading {
    display: none;
}


#myModal {
    width: 500px; height: 250px;
    padding: 18px 9px;
    border-radius: 4px;
    background: #fafafa;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    display: none;
    opacity: 0;
    z-index: 38;
    text-align: center;
  }

  #myModal p {
    position: absolute;
    top: 30%;
    font-size: 23px;
    color: #1c2534;
    font-family: Arial, sans-serif;
  }

  #myModal #myModal__close {
    width: 21px; height: 21px;
    position: absolute;
    font-size: 29px;
    top: 1px; right: 11px;
    cursor: pointer;
    display: block;
  }

  #myOverlay {
    z-index: 37;
    position: fixed;
    background: rgba(0,0,0,.7);
    width: 100%; height: 100%;
    top: 0; left: 0;
    cursor: pointer;
    display: none;
  }


main {
    width: 100%;
    height: 100%;
    display: contents;
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 10;
}

.logo {
    color: #fff;
    font-size: 23px;
    line-height: 60px;
    float: left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}

.menu {
    float: left;
}

.menu li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

.menu li a {
    transition: all 0.1s;
    color: #fff;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}

.white-btn:visited {
    color: white;
}

.menu li a:visited {
    color: #fff;
}

.menu li a:hover {
    color: #e88604; 
}

.menu a:active {
    transform: scale(1.1);
    color: #e88604;
}

.main {
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat , url(../img/bg.jpg) center/cover no-repeat;
    background: linear-gradient(to top , #000 , 50%);
}

.title_container {
    float: left;
    color: #2c384a;
    text-align: center;
    width: 100%;
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 2.4s;
    -o-animation-delay: 2.4s;
    animation-delay: 2s; 
}

.title_container h1 {
    font-size: 72px;
    font-weight: bold;
}

.title_container h4 {
    margin-top: 40px;
    font-size: 20px;
    color: #79818d;
}

.title_container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 18px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
}

.title_container input {
    transition: all 0.2s;
    transform: scale(1);
}

.title_container input:hover {
    background: #344051;
    color: #fff;
}

.title_container input:active {
    transform: scale(1.1);
}

@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes topshift{
    from {
        opacity: 0;
        margin-top: -80px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes titlemove{
    from {
        opacity: 0;
        margin-left: -500px;
    }
    to {
        opacity: 1;
        margin-left: 0px;
    }
}

.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}

@media (max-width: 991px) {
    .title_container, .title_container h4, .title_container input {
        color: white;
        position: relative;
        z-index: 3;
    }

    .title_container input {
    border: 2px solid #fff;
    }
    .main {
        position: relative;
    }
    .main::after {
        content: "";
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.description {
    width: 100%;
    height: auto;
}

h2 {
    width: 100%;
    height: max-content;
    padding: 105px 0 31px 0;
    font-size: 26px;
    font-weight: 600;
    color: #263244;
    text-transform: uppercase;
    text-align: center;
}


#line {
    text-align: center;
    display: block;
    margin:0 auto;
    width: 70px;
    border-bottom: 5px solid #d17700;
    text-align: center;
}

.content_description {
    text-align: center;
}

.foto {
    display: inline-block;
    width: 199px;
    height: 202px;
    margin-top: 60px;
}

.content_description p {
    color: #3f495a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    padding: 20px 0px;
    margin: 0 auto;
    width: 732px;
    text-align: left;
}

.button {
    width: 151px;
    color: #6f707e;
    margin-bottom: 97px;
    font-size: 14px;
    text-align: right;
    background:none;
    background: url(../img/download.png) 10% 50%/ 13px 12px no-repeat;
    border: 2px solid #6f707e;
    border-radius: 5px;
    padding: 7px 10px;
    transition: all 0.2s;
    transform: scale(1);
}

.button:hover{
    background-color: #ecebeb;
}

.button:active{
    transform: scale(1.1);
}

@media (max-width: 750px) {
    .content_description p {
        width: 300px;
        text-align: justify;
    }
}

.skills {
    width: 100%;
    height: max-content;
    background: url(../img/bg_2.jpg) center/cover no-repeat;
}

.big_block {
    height:min-content;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-shrink: 0;
    flex-wrap: wrap;
}
.block {
    width: 210px;
    height: auto;
    margin: 75px 42px;
    text-align: center;
    transition: all 0.5s;
    transform: scale(1);
}

.block:hover{
    transform: scale(1.2);
}

.block img {
    margin-bottom: 35px;
}

.block p {
    margin-bottom: 15px;
    color: #cf7600;
    font-size: 16px;
    font-weight: bold;
}

.block span {
    color: #3f495a;
    font-size: 14px;
}

.cases {
    width: 100%;
    height: auto;
}

.cases_title p {
    
    color: #3f495a;
    font-size: 16px;
    font-family: Calibri, sans-serif;
    font-weight:500;
}

.image-popup-vertical-fit img{
    width: 100%;
    height: auto;
}

.example {
    width: max-content;
    margin: 0 auto;
}


.client {
    color: #384354;
    font-size: 16px;
    text-align: left;
}

.client p {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}

.website {
    color: #384354;
    font-size: 16px;
    text-align: left;
}

.website p {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}

.but_green {
    background-color: #63b5ae;
    width: 201px;
    height: 44px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    transition: all 0.2s;
    transform: scale(1);
}

.but_green:hover {
    background-color: #0ca397;
}

.but_green:active {
    background-color: #0ca397;
    transform: scale(0.95);
}

.name_project {
    text-align: justify;
}

.name_project p {
    font-size: 25px;
    color: #384354;
    font-weight: 600;
}

.name_project span {
    color: #3f495a;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    line-height: 5px;
}

.mfp-no-margins img.mfp-img {
	padding: 0;
}

.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}

.mfp-no-margins .mfp-container {
	padding: 0;
}

.price {
    margin-top: 100px;
}

.price h2 {
    text-transform: none;
    font-size: 40px;
    width: 100%;
    padding-top: 38px;
}

.form {
    width: 977px;
    height: max-content;
    display: block;
    text-align: center;
    margin: 0 auto 33px auto;
    box-shadow: 5px 5px 15px 5px #e1e1e1;
    position: relative;
}

h5 {
    font-size: 29px;
    font-weight: 600;
    color: #1c2534;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    margin-left: 45px;
    text-align: left;
    position: relative;
}

select {
    width: 890px;
    height: auto;
    padding: 20px;
    font-size: 16px;
    background: #eeeeee;
    color: #737373;
}

#line_gray {
    display: inline-block;
    text-align: center;
    padding-top: 36px;
    width: 891px;
    border-bottom: 2px solid #d1d1d1;
    margin-bottom: 2px;
}

.receipt {
    width: 890px;
    color: #1c2534;
    font-size: 20px;
    font-weight: 600;
    margin: 20px auto;
}

.receipt th {
    padding-top: 10px;
    text-align: left;
}

.receipt td {
    font-size: 24px;
    text-align: right;
}

.price .but_green {
    margin-bottom: 37px;
}

@media (max-width: 992px) {
    .form {
        width: 892px;
    }
    select {
        width: 802px;
    }
    #line_gray {
        width: 802px;
    }
    .receipt {
        width: 802px;
    }
}
@media (max-width: 930px) {
    .form {
        width: 765px;
    }
    select {
        width: 675px;
    }
    #line_gray {
        width: 675px;
    }
    .receipt {
        width: 675px;
    }
}
@media (max-width:768px) {
    .form {
        width: 668px;
    }
    select {
        width: 578px;
    }
    #line_gray {
        width: 578px;
    }
    .receipt {
        width: 578px;
    }
}
@media (max-width:690px) {
    .form {
        width: 476px;
    }
    select {
        width: 386px;
    }
    #line_gray {
        width: 386px;
    }
    .receipt {
        width: 386px;
    }
}
@media (max-width:375px) {
    .form {
        width: 355px;
    }
    select {
        width: 286px;
    }
    #line_gray {
        width: 286px;
    }
    .receipt {
        width: 286px;
    }
    .price h2 {
        font-size: 35px;
    }
}

.statistics {
    width: 100%;
    background: url(../img/bg_3.jpg) center/cover no-repeat;
    background-attachment: fixed;
    
}

.statistics h2 {
    width: 100%;
}

.stat {
    height:max-content;
    text-align: center;
}

.stat div {
-webkit-animation: unitmove 0.4s ease forwards;
-o-animation: unitmove 0.4s ease forwards;
animation: unitmove 0.4s ease forwards;
}
.unit {
    display: inline-block;
    width: 210px;
    margin: 89px 42px;
    text-align: center;
}

.number {
    font-size: 37px;
    text-transform: uppercase;
    font-weight:900;
    margin: 30px 0px;
    color: #323d4f;
    opacity: 0;
}

.word {
    font-size: 16px;
    text-transform: uppercase;
    color: #323d4f;
    font-weight: 600;
    letter-spacing: 0%;
}

.reviews {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.reviews p {
    text-align: center;
    margin-bottom: 36px;
    font-size: 16px;
    color: #243042;

}

.reviews span {
    font-weight: 600;
}

.reviews img {
    margin-top: 58px;
    width: 100px;
    height: 102px;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    background: #cfd2d7;
    border-radius: 5px;
    border-top: none;
    border-bottom: none;
    opacity: none;
}

.carousel-indicators .active {
    background: #c96500;
    opacity: none;
}

.point {
    margin-top: 48px;
    text-align: center;
}

.point span {
    margin-right: 14px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #cfd2d7;
    border-radius: 5px;
}

.point span:nth-child(1) {
    background: #c96500;
}

.point span:hover {
    background: #c96500;
}

.connection {
    height: auto;
    width: 100%;
    background: url(../img/bg_4.jpg) center/cover no-repeat;
}

.contacts h2 {
    margin: 0 auto;
    color: #ffffff;
    font-size: 33px;
}

.contacts #line {
    padding-top: 22px;
}

.contacts p {
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 32px;
}

.info {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    text-align: center;
}
.info div {
    display: inline-block;
    width: 210px;
    margin: 48px 22px 39px 22px;
    text-align: center;
}

.info p {
    margin-top: 14px;
    font-size: 16px;
    color: #fff;
}

.message {
    text-align: center;
}

.message p {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 46px;
}

.count {
    width: 352px;
    height: 34px;
    margin:0px 15px 14px 15px;
    padding-left: 13px;
    font-size: 16px;
    background: #ced0d4e6;
    color: #5d5d5e;
}

.message textarea {
    width: 738px;
    height: 94px;
    padding: 13px 13px;
    font-size: 16px;
    background: #ced0d4e6;
    color: #5d5d5e;
    margin-bottom: 28px;
}

.send {
    border: 2px solid #fff;
    border-radius: 5px;
    background: none;
    width: 125px;
    height: 46px;
    color: #fff;
    font-size: 20px;
    padding: auto;
    transition: all 0.2s;
    transform: scale(1);
}

.send:hover {
    color: #af5800;
    border: 2px solid #af5800;
}

.send:active {
    transform: scale(0.9);
}

.links {
    width: 420px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 60px auto 0 auto;
    padding-bottom: 60px;
}

.links a {
    transition: all 0.4s;
    transform: scale(1);
}

.links a :hover {
    transform: scale(1.3);
}

.links a :active {
    transform: scale(1.1)
}

@media (max-width:768px) {
    .count {
        width: 538px;
    }
    .message textarea {
        width: 538px;
    }
}
@media (max-width:576px) {
    .count {
        width: 338px;
    }
    .message textarea {
        width: 338px;
    }
    .links {
        width: 300px;
    }
}

footer {
    height: 96px;
    width: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#354051+88,1d222a+96 */
background: rgb(53,64,81); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(53,64,81,1) 88%, rgba(29,34,42,1) 96%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(53,64,81,1) 88%,rgba(29,34,42,1) 96%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(53,64,81,1) 88%,rgba(29,34,42,1) 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#354051', endColorstr='#1d222a',GradientType=0 ); /* IE6-9 */
text-align: center;
padding-top: 41px;
color: #fff;
font-size: 13px;
letter-spacing: -0,6px;
font-family:'Arial Narrow', Arial, sans-serif;
}